nav{
    position: fixed;
    border:blue;
    text-align: left;
    color: white;
    background-color: rgb(25, 25, 87);
    padding: 6px 199px;
    outline-style: double;
    display:inline;
    opacity: 50%;
}
a{
  margin-bottom: 10px;
  margin-top: 5px;
  padding: 2px 20px;
}
.pic{
  position: absolute;
  top: 150px;
  grid-column: 3/1;
  height:300px;
  width: 280px;
}
.el{
  position: absolute;
  top: 150px;
  right:30px;
  height: 300px;
  width: 350px;
}
.jb{
  position: absolute;
  left: 10px;
  top: 670px;
  height: 300px;
  width: 300px;
}
.love{
  position: absolute;
  right: 10px;
  top: 720px;
  height: 250px;
  width: 370px;
}

.grid-container { 
  display: grid; 
  grid-template-columns: auto auto auto;  
  background-color: #2196F3;  
  padding: 13px;
  gap: 15px; 
}
.grid-item1{grid-column: 2/3;}
.grid-item{grid-row:2/2}
.news{
  position: absolute;
  left: 30px;
  margin-top: 14px;
  padding-top: 0.2px;
  padding-bottom: 1px;
}
.newz{
  position: absolute;
  top: 0.05px;
  bottom: 10px;
  right: 30px;
  padding-top:0.2px;
}
#u{
  position: absolute;
  padding-bottom: 5px;
}
#t{
  position:absolute;
  bottom: 15px;
  padding: 35px;
}
.flex-container{
  display: flex;
  align-items: flex-end;
  background-color: beige;
}
.flex-container > div {
  background-color: rgb(25, 25, 87);
  margin-right: 3px;
  padding: 10px 10px;
  font-size: 15px;
  }

  